.image-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 12px;
  .thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: box-shadow 0.3s;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}

.image-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.8);
}

.image-card .favourite {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background: transparent;
}

#heart {
  position: relative;
  width: 20px;
  height: 18px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 12px;
  top: 0;
  width: 12px;
  height: 16px;
  background: transparent;
  background-color: lightgray;
  border-radius: 10px 10px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

#heart.active:after,
#heart.active:before {
  background-color: red;
}

#heart:hover:after,
#heart:hover:before {
  background-color: red;
}
